@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

body {
  margin: 0;
  padding: 0;
}
main {
  width: 80%;
  margin: auto;
  margin-bottom: 5em;
}
.main-header {
  background-color: rgb(82, 153, 235);
}
.main-header h1 {
  text-align: center;
  height: 20%;
  font-family: monospace;
  font-size: 3.4em;
  font-weight: bold;
  color: white;
  margin: auto;
  margin-bottom: 1em;
  display: grid;
  line-height: 2em;
}
.salam-pembuka {
  text-align: center;
  display: flexbox;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 6px;
  font-style: normal;
  font-size: 1.8em;
  color: rgb(82, 153, 235);
}
.salam-pembuka h2 {
  display: grid;
}
.pilih-bangun-datar {
  display: inline-flexbox;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-size: 2.3em;
  margin: auto;
}
.pilih-bangun-datar button {
  text-decoration: none;
  color: white;
  margin: auto;
  text-align: center;
  border: 0.1em solid;
  border-color: rgb(82, 153, 235);
  width: 100%;
  cursor: pointer;
}
.pilih-bangun-datar li {
  list-style-type: none;
  margin-right: 0.8em;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.pilih-bangun-datar .persegi-panjang {
  text-align: center;
  display: grid;
  background-color: white;
  margin: auto;
  color: rgb(82, 153, 235);
}
.pilih-bangun-datar .persegi {
  text-align: center;
  display: grid;
  background-color: rgb(82, 153, 235);
  margin: auto;
}
.menu-luas-persegi {
  border: 4px solid;
  border-color: rgb(82, 153, 235);
  border-radius: 10px;
  margin-bottom: 2em;
  box-shadow: 2px 2px 12px;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96, "XTRA" 468,
    "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
}
.menu-luas-persegi li {
  list-style-type: none;
  margin: auto;
  display: grid;
  margin-right: 3em;
}
.menu-luas-persegi ul {
  margin-top: 1px;
  padding: 10px;
}
#hasil {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
  height: 3em;
  z-index: 100;
}
#isi-angka button {
  cursor: pointer;
}
.hitung-l-p {
  background-color: rgb(82, 153, 235);
  margin: 0;
  height: 2em;
  font-size: 3em;
  line-height: 1.9;
  color: white;
}

.perintah {
  font-size: 1.7em;
}
#angka {
  width: 24%;
  height: 2em;
  border-radius: 0.4em;
}
div button {
  margin: auto;
  margin-top: 2em;
  justify-content: space-evenly;
  width: 8.2em;
  font-size: 1em;
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96, "XTRA" 468,
    "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
}
#hasil {
  margin-bottom: 3em;
  font-size: 2em;
}
.konfirmasi-ajah {
  color: white;
  background-color: greenyellow;
  z-index: 4;
}
.reset {
  background-color: red;
  color: white;
}
.menu-keliling-persegi {
  border: 4px solid;
  border-color: rgb(82, 153, 235);
  border-radius: 10px;
  margin-bottom: 2em;
  box-shadow: 2px 2px 12px;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96, "XTRA" 468,
    "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
}
.menu-keliling-persegi li {
  list-style-type: none;
  margin: auto;

  margin-right: 3em;
}
.hitung-k-p {
  background-color: rgb(82, 153, 235);
  margin: 0;
  height: 2em;
  font-size: 3em;
  line-height: 1.9;
  color: white;
}
#angka-keliling {
  width: 24%;
  height: 2em;
  border-radius: 0.4em;
}
.menu-keliling-persegi ul {
  margin-top: -17px;
}

.container-persegi-panjang {
  display: none;
}

.hidden {
  display: none;
}
#angka-panjang-lpp {
  width: 24%;
  height: 2em;
  border-radius: 0.4em;
}
#angka-lebar-lpp {
  width: 24%;
  height: 2em;
  border-radius: 0.4em;
}
#angka-panjang-kpp {
  width: 24%;
  height: 2em;
  border-radius: 0.4em;
}
#angka-lebar-kpp {
  width: 24%;
  height: 2em;
  border-radius: 0.4em;
}
#hasil-keliling {
  margin-bottom: 3em;
  font-size: 2em;
}
#hasil-luas-pp {
  margin-bottom: 3em;
  font-size: 2em;
}
#hasil-keliling-pp {
  margin-bottom: 3em;
  font-size: 2em;
}
@media only screen and (max-width: 1280px) {
  body {
    flex-direction: row;
    size: 10px;
  }
  img {
    width: 70%;
  }
}
@media only screen and (max-width: 950px) {
  body {
    flex-direction: row;
    size: 10px;
  }
  img {
    width: 70%;
  }
}
@media only screen and (max-width: 768px) {
  body {
    flex-direction: row;
    size: 10px;
  }
  img {
    width: 70%;
  }
  .main-header {
    line-break: inherit;
    h1 {
      line-height: 1.7em;
    }
  }
  .menu-luas-persegi div {
    margin-top: 4em;
  }
  .menu-keliling-persegi div {
    margin-top: 4em;
  }
}
@media only screen and (max-width: 400px) {
  body {
    flex-direction: row;
    size: 10px;
  }
  img {
    width: 70%;
  }
  .menu-luas-persegi div {
    margin-top: 3.4em;
  }
}
